<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>63492920755-g68bb3uu561b65bf03u85k8uaa82ra7c.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.63492920755-g68bb3uu561b65bf03u85k8uaa82ra7c</string>
	<key>API_KEY</key>
	<string>AIzaSyDZWt_5J0ufr4zzBmMaUKcOyOiqA-VUa1Q</string>
	<key>GCM_SENDER_ID</key>
	<string>63492920755</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.bagps.basatmobile</string>
	<key>PROJECT_ID</key>
	<string>basatmobile</string>
	<key>STORAGE_BUCKET</key>
	<string>basatmobile.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:63492920755:ios:3338c70f89a3031c</string>
	<key>DATABASE_URL</key>
	<string>https://basatmobile.firebaseio.com</string>
</dict>
</plist>